body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #ccd4cc;
  color: #020202;
}

h1 {
  font-size: 300%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}
nav{
  display: flex;
}

nav ul {
  justify-content: space-between;
  min-width: 300px;
  font-size: 150%;
}
nav ul li{
  display:inline;
}

nav a {
  color: #020202;
  font-weight: bold;
  text-decoration: none;
  margin-left:65px;
}

nav.shift ul li a:hover {
  color: #91640F;
}
main {
  display: flex;
  flex-wrap: wrap;
}

.Pro_info{
  background-image: url("/res/assets/images/R.jpeg");
  padding: 90px; 
}

.pro_pic{
  flex: 2;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 10px;
}

.pro_pic h1 {
font-size: 250%;
line-height: 175%;
}

.pro_pic h2 {
  font-size: 120%;
  line-height: 150%;
  }

.pro_pic img{
  width: 150px;
  height: auto;
  justify-content: flex-start;
}

a#pdf {
   display: block;
   float: left; 
   background: #030303; 
   color: white; 
   padding: 6px 50px 6px 12px; 
   margin-bottom: 6px; 
   text-decoration: none;  
   text-align: center;
  }

a#pdf:hover { 
  background: #f5f1f1; 
  color:#030303;
  text-decoration: underline;
  
}

/*-----side_bar-------- */
aside {
  flex: 1;
  background-color: antiquewhite;
  padding: 20px;
}

.side_sum{
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

/*-----About-------- */

.about_me {
  flex: 3;
  background-color: #fff;
  padding: 40px;
  
}

.sample-img{
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  header, main , .profile {
    flex-direction: column;
  }
}


