body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #030c10;
    color: #fff;
  }

  h1 {
    font-size: 200%;
  }

  h1::after {
    font-family: Impact;
    content: 'Ishan';
    color:#546e7a;
    margin-left: 5px;
  }

  h2 {
    margin: 2% 0;
    font-size: 180%;
  }
  
  h3 {
    margin: 2% 0;
    font-size: 150%;
  }


  nav li::before,
nav li::after {
  
  color: 546e7a;
  padding: 1%;
  font-family: cursive;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #546e7a;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .subtitle {
    padding: 50px;
    text-align: right;
    background-image:url(/res/assets/images/a.jpeg);
    color: #fff;
    overflow:hidden;
  }
  .subtitle p {
    font-weight:bold;
    text-align:right;
    position: absolute;
    
  } 
  .subtitle img {
    float:left;
    width: 20%;
    height:auto;

  }

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    /* section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    } */
  } 